@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{

    font-family: 'Nunito', sans-serif;
}

#container, #request-container{
    margin: auto;
}

#request-container{width: 80%;}

#container{width: 70%;}

.custom-th{
    font-size: 13px;
    color: #FFFF;
}

.custom-td{
    font-size: 14px;
}

.custom-tr:nth-child(even){
    background-color: #F5F5F5;
}

.student-pic:hover{
    cursor: pointer;
}

.label-sm{
    font-size: 12px;
}