.title-block{
    display: flex;
    align-items: center;
}

#home-title{
    margin-left: 15px;
    text-align: justify;
}

.transaction-block{
    display: flex;
    margin-top: 20px;
}

.transac-item{
    padding: 5px;
}