header{
    margin-bottom: 10px;
}

table{
    width: 100%;
}

th{
    font-size: 13px;
    background-color: #CC3636 !important;  
    color: #FFFF;
}

td{
    font-size: 14px;
    background-color: #B7C4CF !important;
    border-top: 5px solid #FFFF;
}