header{
    margin-bottom: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    padding: 5px;
    background-color: #CC3636;
    color: #FFFF;
}

td{
    padding: 5px;
    background-color: #B7C4CF;
    border-top: 5px solid #FFFF;
}