@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header{
    padding: 10px;
    margin-bottom: 20px;
}

#header-wrapper, #container{
    width: 60%;
    margin: auto;
}

#header-logo{
    display: flex;
    align-items: center;
}

#word-logo{
    margin-left: 10px;
}