:root {
    --font-size-700: 1.75rem;
    --font-size-500: 1.05rem;
    --font-size-400: 0.75rem;

    --font-weight-bold: 600;

    --bg-color-red-sub: hsl(0, 61%, 35%);
    --bg-color-green-sub: hsl(120, 55%, 21%);
    --bg-color-blue-sub: hsl(240, 74%, 39%);
    --text-color-gray-sub: hsl(0, 0%, 95%);
    --text-color-white-sub: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.main-container{
    max-width: 90%;
    margin-inline: auto;
}

.view-container{
    display: grid;
    place-items: center;
    padding: 1rem 1rem 1rem 0.5rem;
}

.form-block {
    display: grid;
    place-items: center;
    min-width: 60%;
    border: 2px solid #ddd;
    border-radius: 0.50rem;
}

.form-block-header {
    min-width: 100%;
    background-color: var(--text-color-gray-sub);
    place-self: start;
    padding: 0.50rem;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 0.50rem;
    border-top-right-radius: 0.50rem;
}

.form-block-header>h5 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-400);
}

.form-content {
    max-width: 80%;
    padding: 1rem;
}

.form-button {
    min-width: var(--min-width);
    background-color: var(--bg-color);
    color: var(--text-color-white-sub);
    border: none;
    border-radius: 0.25rem;
    padding: 0.15rem;
    padding-inline: 1rem ;
}

.form-button-container {
    padding: 0.75rem;
    text-align: center;
}

.view{
    --bg-color: var(--bg-color-green-sub);
    --min-width:4em;
}

.view[disabled]{
    --bg-color-green-sub-disabled: hsl(120 55% 21% / 0.5);
    --bg-color:var(--bg-color-green-sub-disabled);
}

.login{
    --bg-color: var(--bg-color-red-sub);
    --min-width: 50%;
}

.unc-logo {
    place-self: center;
    padding: 1rem;
}

.input-container {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 0.25rem;

}

.input-icon {
    background-color: #ddd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    width: 3em;
    text-align: center;
    flex-shrink: 0;
}

.input-box {
    border: none;
}

.input-box:focus {
    outline-width: 0;
}

.input-icon,
.input-box {
    padding: 0.40rem;
}

.password-label{
    padding-top: 1rem;
}

.input-group{
    flex-direction: column;
}

.input-group > label{
    padding-top: 1rem;
}

.flex-container {
    display: flex;
    gap: 1rem;
}

.grid-container{
    display: grid;
    gap: 1rem;
}

.mix-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 100%;
    padding-bottom: 1rem;
}

.head-container {
    max-width: fit-content;
    border-left: 3px solid var(--bg-color-red-sub);
}

.head-container h4 {
    margin: 0;
}

.link-button {
    max-width: 20%;
    color: var(--text-color-white-sub);
    background-color: var(--bg-color-red-sub);
    border: none;
    text-decoration: none;
    padding-block: 0.4rem;
    padding-inline: clamp(2rem, 5vw, 8rem);
    border-radius: 0.45rem;
}

.link-button-container {
    text-align: center;
    padding-top: 2px;
    justify-self: end;
}

.link-button:hover {
    --text-color-gray-darker: hsl(0, 0%, 85%);
    color: var(--text-color-gray-darker);
    cursor: pointer;
}

.button-container {
    min-width: 100%;
}

[role="tablist"] {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.25rem;
    padding: 0;
}

.nav-link {
    background-color: transparent;
    border: none;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
}

.nav-link.active {
    color: var(--bg-color-blue-sub);
    border-bottom: 2px solid maroon;
}

.tab-container {
    border-top: 2px solid #ddd;
    min-width: 100%;
    padding-top: 1rem;
}

.tab-container__contents {
    display: none;
}

.tab-container__contents table {
    min-width: 100%;
}

.tab-container__contents table tbody tr td {
    padding-block: 1rem;
}

.tab-container__contents table tbody tr:nth-child(even) {
    background-color: var(--text-color-gray-sub);
}

.tab-container__contents table tbody tr td form {
    margin: 0;
}

.active {
    display: block;
}

.table-header {
    background-color: var(--bg-color-red-sub);
    color: var(--text-color-white-sub);
    padding: 0.25rem;
}

.choices-head {
    justify-self: start;
}

.request-head {
    place-self: start;
    margin-bottom: 1rem;
    padding-left: 0.25rem;
}

.photocopy-prices {
    flex-direction: row;
    justify-content: space-between;
}

.request-image-val{
    --max-width: 35%
}

.view-request-val{
    --max-width: 55%
}

.profile-image {
    max-width: var(--max-width);
    clip-path: circle();
    object-fit: contain;
}

.user-info {
    max-width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner-cell {
    width: clamp(18rem, 25%, 13vw);
    padding-top: 1rem;
}

.inner {
    flex-direction: column;
}

.copies-box {
    border-radius: 0.25rem;
    min-width: clamp(10rem, 15vw, 100%);
    padding: 0;
    border: 1px solid #ced4da;
}

.copies-box-sm{
    border-radius: 0.25rem;
    min-width: 50%;
    font-size: 1rem;
}

.copies-container{
    min-width: 100%;
    text-align: right;
}

.inner-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.inner-label {
    font-size: var(--font-size-400);
    min-width: 100%;
    min-height: 100%;
}

.inner-grid {
    place-items: start;
    padding: 0;
}

.nda{
    padding-top: 3rem;
    padding-inline: 1rem;
    max-width: 100%;
    text-align: start;
    grid-column: 1/-1;
}

.nda h2{
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.nda p {
    font-size: var(--font-size-400);
}

.cells {
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
}

.back.view.form-button{
    padding-inline: 0.5rem;
}

.flex-container.photocopy-prices.req-docs{
    max-width: 90%;
    margin-left: 2rem;
}

.grid-container.wide-gap{
    gap: 5rem;
    width: clamp(30%, 80%, 100%);
}

.flex-container.inner.req-details{
    border: 2px solid maroon;
}

.grid-container.grid-orientation{
    grid-template-columns: repeat(2, 1fr);
}

.print{
    color: var(--text-color-white-sub);
        border: none;
        text-decoration: none;
    padding-inline: 1rem;
    padding-block: 0.28rem;
    background-color: var(--bg-color-green-sub);
    border-radius: 0.25rem;
}

.print:hover, .cancel:hover{
    opacity: 0.9;
    color: var(--text-color-gray-sub);
}

.view-buttons{
    justify-content: space-between;
    margin-top: 3rem;
}

.cancel{
    max-width: 100%;
    background-color: var(--bg-color-red-sub);
    color: var(--text-color-white-sub);
    border: none;
    border-radius: 0.25rem;
    padding: 0.15rem;
    padding-inline: 1rem;
}

.admin-view{
    margin-top: 5rem;
    gap: 3rem;
}

.req-from-archives{
    font-size: 0.85rem;
    padding-inline: 0.5rem;
}

.readonly-container{
    display: block;
    font-size: 0.875rem;
}

.readonly-box{
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: #212529;
}

.cred-card{
    max-width: 40%;
    border: 1px solid #ddd;
    gap: 0;
    border-radius: 5px;
}

.outer-cred-card{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.student-info-view{
    max-width: 80%;
    border: 2px solid firebrick;
    grid-auto-flow: row;
}

.student-information {
    gap: 3rem;
}

@media (max-width: 63em) {
    .inner-cell{
        justify-self: center;
    }

    .grid-container.grid-orientation {
        grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
    }
}

@media (max-width: 30em) {
    .view-container{
        padding:0
    }

    .inner-cell{
        justify-self: start;
    }
}

/* Mobile View Table */
@media (max-width: 40em) {

    .nav-link{
        font-size: 0.70rem;
    }

    .tab-container__contents table tbody tr td {
        display: block;
        padding-block: 1rem;
        text-align: right;
        margin-inline: 1rem;
        position: relative;
    }

    td[data-label="Course"]{
        font-size: 0.75rem;
    }

    .tab-container__contents table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        font-weight: var(--font-weight-bold);
    }

    .table-header {
        display: none;
    }

    .form-button {
        background-color: var(--bg-color);
        color: var(--text-color-white-sub);
    }

    .view {
        --bg-color: var(--bg-color-green-sub);
        --min-width: 4em;
    }

    .pic-direction{
        flex-direction: column;
        gap: 1rem;
    }

}

@media (min-width: 40em){

    .form-block-header {
        min-width: 100%;
        background-color: var(--text-color-gray-sub);
        place-self: start;
        padding: 0.50rem;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 0.50rem;
        border-top-right-radius: 0.50rem;
    }

    .form-block-header>h5 {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-500);
    }

    .unc-logo {
        place-self: center;
    }

    .form-content {
        min-width: 80%;
        padding: 1rem;
    }

    .form-button {
        min-width: var(--min-width);
        background-color: var(--bg-color);
        color: var(--text-color-white-sub);
        border: none;
        border-radius: 0.25rem;
        padding: 0.15rem;
    }

    /*Had to use grid here*/
    .mix-container{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        min-width: 100%;
        padding-bottom: 1rem;
    }

    .head-container{
        max-width: fit-content;
        border-left: 3px solid var(--bg-color-red-sub);
    }

    .head-container h4{
        margin: 0;
    }

    .link-button{
        max-width: 25%;
        color: var(--text-color-white-sub);
        background-color: var(--bg-color-red-sub);
        border: none;
        text-decoration: none;
        padding-block: 0.4rem;
        padding-inline: clamp(2rem, 9vw, 9rem);
        border-radius: 0.45rem;
    }

    .link-button-container{
        text-align: center;
        padding-top: 2px;
        justify-self: end;
    }

    .link-button:hover{
    --text-color-gray-darker: hsl(0, 0%, 85%);
        color: var(--text-color-gray-darker);
        cursor: pointer;
    }

    .button-container{
        min-width: 100%;
    }

    [role="tablist"]{
        margin: 0;
        list-style: none;
        display: flex;
        gap: 0.25rem;
        padding: 0;
    }

    .nav-link{
        background-color: transparent;
        border: none;
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
    }

    .nav-link.active{
        color: var(--bg-color-blue-sub);
        border-bottom: 2px solid maroon;
    }

    .tab-container{
        border-top: 2px solid #ddd;
        min-width: 100%;
        padding-top: 1rem;
    }

    .tab-container__contents{
        display: none;
    }

    .tab-container__contents table{
        min-width: 100%;
    }

    .tab-container__contents table tbody tr td {
        padding-block: 1rem;
    }

    .tab-container__contents table tbody tr:nth-child(even){
        background-color: var(--text-color-gray-sub);
    }

    .tab-container__contents table tbody tr td form{
        margin: 0;
    }

    .active{
        display: block;
    }

    .table-header{
        background-color: var(--bg-color-red-sub);
        color: var(--text-color-white-sub);
        padding: 0.25rem;
    }

    .profile-image {
        max-width: 7rem;
        clip-path: circle();
        object-fit: contain;
    }

    .wide-screen-grid{
        place-self: start;
    }

    .cells {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        place-items: center;
    }

    .admin-view{
        grid-auto-flow: column;
        margin-top: 3rem;
        gap: 5rem;
    }

    .student-lists{
        grid-auto-flow: column;
        max-width: 90%;
        justify-content: space-between;
    }

    .req-from-archives{
        font-size: 1rem;
        padding: 0.25rem 1rem;
    }

    .cic-buttons{
        grid-auto-flow: column;
        place-content: center;
    }

    .student-information{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 3rem;
    }

}

@media(max-width: 45em) {
    .student-lists {
        grid-auto-flow: row;
        text-align: center;
    }
}
