@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default styling */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

/*Removes outer and inner button Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-bg:hsl(210, 40%, 98%);
  --clr-primary-red: hsl(0, 61%, 35%);
  --clr-secondary-green: hsl(133, 35%, 37%);
  --clr-accent-blue: hsl(240, 75%, 22%);
  --clr-accent-gray: hsl(0, 0%, 85%);
  --clr-accent-gray-light: hsl(0, 0%, 93%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --font-primary: "Nunito Sans", sans-serif;
  --font-size-300: .875rem
  --font-size-400: 1rem;
  --font-size-500: 1.5rem;
  --font-size-600: 2rem;
  --font-size-700: 2.5rem;
  --font-size-800: 2.75rem;
  --font-size-900: 3rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

body {
  background-color: var(--clr-primary-bg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-inline: 0.5rem;
}
.login h1 {
  font-size: clamp(var(--font-size-500), 4vw, var(--font-size-900));
  text-align: center;
  font-weight: var(--font-weight-700);
  padding-block: 2rem;
}
.login img {
  align-self: center;
}
.login input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background-color: transparent;
  cursor: pointer;
}
.login input:hover, .login input:focus, .login input:active {
  box-shadow: 3px 5px 0 black;
}
.login__content {
  border-radius: 1em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.login__content h2 {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: 1px solid var(--clr-accent-gray);
  background-color: var(--clr-accent-gray);
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-600);
  padding: 1rem 2rem;
  text-transform: uppercase;
}
.login__content--form {
  padding: 2rem clamp(1rem, 2vw, 10rem);
}
.login__content--form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 0.5rem 1.5rem;
  cursor: pointer;
}
.login__content--form-group .icon {
  display: none;
}
.login__content--form button {
  padding: 0.5rem 2rem;
  background-color: var(--clr-primary-red);
  border: 0;
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-700);
  width: 100%;
}
.login__content--form button:focus, .login__content--form button:hover, .login__content--form button:active {
  background-color: transparent;
  color: black;
  border: 1px solid var(--clr-primary-red);
  box-shadow: 3px 5px 0 var(--clr-primary-red);
}

.admin {
  width: 90vw;
  margin-inline: auto;
}
.admin h1 {
  font-size: clamp(var(--font-size-500), 7vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  padding-top: 1rem;
}
.admin h2 {
  border-left: 4px solid var(--clr-primary-red);
  padding: 0.5rem 0.75rem;
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
  margin-block: 1rem 2rem;
}
.admin__tools--shortcut {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.admin__tools--shortcut * {
  padding: 0.5rem 1rem;
  background-color: var(--clr-secondary-green);
  border: 0;
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-600);
  cursor: pointer;
}
.admin__tools--shortcut button:hover, .admin__tools--shortcut button:focus, .admin__tools--shortcut button:active {
  color: var(--clr-secondary-green);
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  box-shadow: 2px 3px 0 var(--clr-secondary-green);
}
.admin__tools--shortcut a {
  text-decoration: none;
  text-align: center;
}
.admin__tools--shortcut a:hover, .admin__tools--shortcut a:focus, .admin__tools--shortcut a:active {
  color: var(--clr-secondary-green);
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  box-shadow: 2px 3px 0 var(--clr-secondary-green);
}
.admin__cards h2 {
  margin-block: 3rem 2rem;
}
.admin__cards--group-card {
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  padding: 1rem 3rem;
}
.admin__cards--group-card:hover, .admin__cards--group-card:focus-within {
  border: 1px solid var(--clr-accent-gray);
  box-shadow: 3px 3px 0 black;
}
.admin__cards--group-card a {
  text-decoration: none;
  color: black;
}
.admin__cards--group-card a .contents {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.manage-acc {
  width: 90%;
  margin-inline: auto;
  padding-block: 3rem;
}
.manage-acc .active {
  display: block;
}
.manage-acc a {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
}
.manage-acc a:hover, .manage-acc a:focus, .manage-acc a:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.manage-acc h1 {
  font-size: clamp(var(--font-size-600), 7vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 3rem 2rem;
  padding-left: 0.5rem;
  border-left: 3px solid var(--clr-primary-red);
}
.manage-acc__tabs {
  padding-block: 2rem 0.5rem;
}
.manage-acc__tabs ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-bottom: 1px solid #333;
}
.manage-acc__tabs ul li {
  padding-bottom: 0.5rem;
}
.manage-acc__tabs ul li:hover, .manage-acc__tabs ul li:focus, .manage-acc__tabs ul li:active {
  border-bottom: 2px solid var(--clr-accent-blue);
}
.manage-acc__tabs button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: var(--font-weight-500);
}
.manage-acc__tabs button:hover, .manage-acc__tabs button:focus, .manage-acc__tabs button:active {
  font-weight: var(--font-weight-600);
  color: var(--clr-accent-blue);
}
.manage-acc__content--group {
  display: none;
}
.manage-acc__content--group table {
  width: 100%;
}
.manage-acc__content--group thead {
  background-color: var(--clr-primary-red);
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-600);
}
.manage-acc__content--group thead th {
  padding-block: 1rem;
  padding-left: 0.5rem;
}
.manage-acc__content--group tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.manage-acc__content--group tbody tr td {
  padding-block: 1rem;
}
.manage-acc__content--group tbody tr td:last-of-type {
  text-align: center;
}

.register {
  margin-block: 1rem;
  padding-block: 2rem;
  width: 90%;
  margin-inline: auto;
}
.register a {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
}
.register a:hover, .register a:focus, .register a:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.register h1 {
  font-size: clamp(var(--font-size-600), 7vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 2rem;
  padding-left: 0.5rem;
  border-left: 3px solid var(--clr-primary-red);
}
.register h2 {
  font-size: var(--font-size-500);
  text-transform: uppercase;
  font-weight: var(--font-weight-600);
  border-bottom: 1px solid var(--clr-accent-gray);
  background-color: var(--clr-accent-gray-light);
  padding: 1rem 2rem;
}
.register__contents {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.register__contents--form {
  padding: 1rem 3rem;
}
.register__contents--form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.register__contents--form .form-group input[type=file] {
  padding: 0.3rem 0.75rem;
  font-size: 0.875rem;
}
.register__contents--form .form-group input, .register__contents--form .form-group select {
  background-color: transparent;
  border: 1px solid var(--clr-accent-gray);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.register__contents--form button {
  width: 100%;
  background-color: var(--clr-primary-red);
  border: 0;
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-600);
  padding: 0.5rem 1rem;
  margin-block: 1rem;
}
.register__contents--form button:hover, .register__contents--form button:focus, .register__contents--form button:active {
  background-color: transparent;
  border: 1px solid var(--clr-primary-red);
  color: var(--clr-primary-red);
  box-shadow: 3px 3px 0 var(--clr-primary-red);
}

.department {
  padding-block: 3rem;
}
.department a {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
}
.department a:hover, .department a:focus, .department a:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.department h2 {
  font-size: clamp(var(--font-size-600), 5vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 2rem;
  padding-left: 0.5rem;
  border-left: 5px solid var(--clr-primary-red);
}
.department__contents table {
  width: 100%;
}
.department__contents thead {
  background-color: var(--clr-primary-red);
  color: var(--clr-neutral-white);
  font-weight: var(--font-weight-600);
}
.department__contents thead th {
  padding-block: 1rem;
  padding-left: 0.5rem;
}
.department__contents tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.department__contents tbody tr td {
  padding-block: 1rem;
}
.department__contents tbody tr td:last-of-type {
  text-align: center;
}

.acc-info {
  width: 90%;
  margin-inline: auto;
  padding-block: 2rem;
}
.acc-info a {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
}
.acc-info a:hover, .acc-info a:focus, .acc-info a:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.acc-info h1 {
  font-size: clamp(var(--font-size-600), 7vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 2rem;
}
.acc-info h2 {
  font-size: clamp(var(--font-size-500), 5vw, var(--font-size-700));
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
  border-left: 4px solid var(--clr-primary-red);
}
.acc-info h3 {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-600);
  text-transform: capitalize;
}
.acc-info__contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.acc-info__contents img {
  clip-path: circle();
  height: 8rem;
  height: 8rem;
}
.acc-info__contents--data-user {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}
.acc-info__contents--data-readonly {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.acc-info__contents--data-readonly input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--clr-accent-gray);
}
.acc-info__contents--data-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.acc-info__contents--data-buttons .print {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
  border: 0;
}
.acc-info__contents--data-buttons .print:hover, .acc-info__contents--data-buttons .print:focus, .acc-info__contents--data-buttons .print:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.acc-info__contents--data-buttons .cancel {
  text-decoration: none;
  background-color: var(--clr-primary-red);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
  border: 0;
}
.acc-info__contents--data-buttons .cancel:hover, .acc-info__contents--data-buttons .cancel:focus, .acc-info__contents--data-buttons .cancel:active {
  background-color: transparent;
  border: 1px solid var(--clr-primary-red);
  color: var(--clr-primary-red);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-primary-red);
}

.account {
  width: 90%;
  margin-inline: auto;
  padding-block: 3rem;
}
.account button {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
  border: 0;
}
.account button:hover, .account button:focus, .account button:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.account h1 {
  font-size: clamp(var(--font-size-600), 7vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 2rem;
}
.account img {
  clip-path: circle();
  height: 8rem;
  height: 8rem;
}
.account__details--user {
  margin-block: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.account__details--user-info p {
  margin-bottom: 0.25rem;
}
.account__details--user-info p:first-of-type {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-600);
  text-transform: capitalize;
}
.account__details--data .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.account__details--data .form-group input {
  background-color: transparent;
  border: 1px solid var(--clr-accent-gray);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.account__details--data .form-group input:hover, .account__details--data .form-group input:focus, .account__details--data .form-group input:active {
  box-shadow: 3px 3px 0 black;
}
.account__details--data-buttons {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.account__details--data-buttons button:last-of-type {
  text-decoration: none;
  background-color: var(--clr-primary-red);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
}
.account__details--data-buttons button:last-of-type:hover, .account__details--data-buttons button:last-of-type:focus, .account__details--data-buttons button:last-of-type:active {
  background-color: transparent;
  border: 1px solid var(--clr-primary-red);
  color: var(--clr-primary-red);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-primary-red);
}

.student {
  width: 90%;
  margin-inline: auto;
  padding-block: 3rem;
}
.student a {
  text-decoration: none;
  background-color: var(--clr-secondary-green);
  color: var(--clr-neutral-white);
  padding: 0.5rem 1rem;
}
.student a:hover, .student a:focus, .student a:active {
  background-color: transparent;
  border: 1px solid var(--clr-secondary-green);
  color: var(--clr-secondary-green);
  font-weight: var(--font-weight-600);
  box-shadow: 3px 3px 0 var(--clr-secondary-green);
}
.student h1 {
  font-size: clamp(var(--font-size-600), 7vw, var(--font-size-900));
  font-weight: var(--font-weight-700);
  margin-block: 2rem;
}
.student h2 {
  font-size: clamp(var(--font-size-500), 5vw, var(--font-size-600));
  font-weight: var(--font-weight-700);
  margin-block: 1rem;
  padding-left: 0.5rem;
  border-left: 4px solid var(--clr-primary-red);
}
.student__data--user img {
  clip-path: circle();
  height: 8rem;
  height: 8rem;
}
.student__data--user-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding-block: 1rem;
}
.student__data--user-info p {
  margin-bottom: 0.5rem;
}
.student__data--user-info p:first-of-type {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-600);
  text-transform: capitalize;
}
.student__data--user .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.student__data--user .form-group input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--clr-accent-gray);
}
.student__data--logs {
  padding-top: 1rem;
}
.student__data--logs-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  place-content: center;
}
.student__data--logs-group .card {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  justify-content: space-between;
}
.student__data--logs-group button {
  background-color: transparent;
  border: 0;
}
.student__data--logs-group img {
  border-radius: 0.5rem;
}

@media (min-width: 50em) {
  .login {
    padding-block: 3rem;
    width: clamp(40%, 70vw, 80rem);
    margin-inline: auto;
  }
  .login input {
    outline: 0;
    border: 0;
    background-color: transparent;
  }
  .login input:hover, .login input:focus, .login input:active {
    box-shadow: none;
  }
  .login__content--form {
    padding: 2rem clamp(1rem, 8vw, 10rem);
  }
  .login__content--form .invalid-feedback {
    text-align: right;
    padding-inline: 1rem;
    align-self: center;
    width: 70%;
  }
  .login__content--form-group {
    flex-direction: row;
    align-items: stretch;
    border: 2px solid var(--clr-accent-gray);
  }
  .login__content--form-group:focus-within {
    border: 3px solid var(--clr-accent-blue);
  }
  .login__content--form-group:hover {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .login__content--form-group .icon {
    display: block;
    background-color: var(--clr-accent-gray);
    padding: 1rem 1.5rem;
    justify-self: flex-start;
  }
  .admin {
    width: clamp(60%, 80vw, 80rem);
    margin-inline: auto;
  }
  .admin__tools--shortcut {
    flex-direction: row;
    justify-content: center;
  }
  .admin__cards--group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  .manage-acc, .department {
    width: clamp(70%, 80vw, 90rem);
    margin-inline: auto;
  }
  .register {
    width: clamp(40%, 50vw, 60%);
    margin-inline: auto;
  }
  .register__contents--form .form-group {
    flex-direction: row;
    align-items: center;
  }
  .register__contents--form .form-group label {
    min-width: 15ch;
  }
  .register__contents--form .form-group input, .register__contents--form .form-group select {
    width: 100%;
  }
  .acc-info {
    width: clamp(70%, 80vw, 90rem);
    margin-inline: auto;
  }
  .acc-info__contents {
    flex-direction: row;
  }
  .acc-info__contents--data {
    width: 100%;
  }
  .acc-info__contents--data-buttons {
    flex-direction: row;
  }
  .acc-info__contents--logs {
    width: 100%;
  }
  .acc-info__contents--logs table {
    width: 100%;
  }
  .acc-info__contents--logs thead {
    background-color: var(--clr-primary-red);
    color: var(--clr-neutral-white);
    font-weight: var(--font-weight-600);
  }
  .acc-info__contents--logs thead th {
    padding-block: 1rem;
    padding-left: 0.5rem;
  }
  .acc-info__contents--logs tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .acc-info__contents--logs tbody tr td {
    padding-block: 1rem;
  }
  .acc-info__contents--logs tbody tr td:last-of-type {
    text-align: center;
  }
  .acc-info__contents--logs label {
    margin-bottom: 1rem;
  }
  .account {
    width: clamp(40%, 45vw, 50rem);
    margin-inline: auto;
  }
  .account__details--data-buttons {
    flex-direction: row;
    justify-content: center;
  }
  .student__data {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .student__data--user {
    width: 70%;
  }
  .student__data--logs {
    width: 100%;
  }
  .student__data--logs h2 {
    margin-block: 0 2rem;
  }
}
@media (max-width: 800px) {
  .manage-acc__content--group thead {
    display: none;
  }
  .manage-acc__content--group tbody tr td {
    display: block;
    text-align: right;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .manage-acc__content--group tbody tr td:last-of-type {
    text-align: right;
  }
  .manage-acc__content--group tbody tr td:nth-child(4) {
    font-size: 0.875rem;
  }
  .manage-acc__content--group tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 1rem;
    font-weight: var(--font-weight-600);
    font-size: 1rem;
  }
  .department {
    width: 90%;
  }
  .department__contents thead {
    display: none;
  }
  .department__contents tbody tr td {
    display: block;
    text-align: right;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .department__contents tbody tr td:last-of-type {
    text-align: right;
  }
  .department__contents tbody tr td:nth-child(4) {
    font-size: 0.875rem;
  }
  .department__contents tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 1rem;
    font-weight: var(--font-weight-600);
    font-size: 1rem;
  }
  .acc-info__contents--logs thead {
    display: none;
  }
  .acc-info__contents--logs tbody tr td {
    display: block;
    text-align: right;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .acc-info__contents--logs tbody tr td:last-of-type {
    text-align: right;
  }
  .acc-info__contents--logs tbody tr td:nth-child(4) {
    font-size: 0.875rem;
  }
  .acc-info__contents--logs tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 1rem;
    font-weight: var(--font-weight-600);
    font-size: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
