@forward './components/reset';
@forward './components/custom_properties';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

@mixin flex($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin container($min, $average, $max){
    max-width: clamp($min, $average, $max);
    margin-inline: auto;
}

@mixin grid($fit, $min, $max, $gap){
    display: grid;
    grid-template-columns: repeat($fit, minmax($min, $max));
    gap: $gap;
}

body{
    background-color: var(--clr-primary-bg);
}

.content{
    @include flex(column, 2rem);
    align-items: center;
}

//Login Page
.login{
    @include flex(column, 0);
    padding-inline: .5rem;

    & h1{
        font-size: clamp(var(--font-size-500), 4vw, var(--font-size-900));
        text-align: center;
        font-weight: var(--font-weight-700);
        padding-block: 2rem;
    }
    & img{align-self: center;}

    & input{
        width: 100%;
        padding: .5rem 1rem;
        border: 1px solid #333;
        background-color: transparent;
        cursor: pointer;
        &:hover, &:focus, &:active{
            box-shadow: 3px 5px 0 black;
        }
    }

    &__content{
        border-radius: 1em;
        box-shadow: 0 0 3px rgba(0 0 0 / .6);

        & h2{
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            border-bottom: 1px solid var(--clr-accent-gray);
            background-color: var(--clr-accent-gray);
            font-size: var(--font-size-500);
            font-weight: var(--font-weight-600);
            padding: 1rem 2rem;
            text-transform: uppercase;
        }

        &--form{
            padding: 2rem clamp(1rem, 2vw, 10rem);
            &-group{
                @include flex(column, .5rem);
                margin-block: .5rem 1.5rem;
                cursor: pointer;
                & .icon{display: none;}
            }

            & button{
                padding: .5rem 2rem;
                background-color: var(--clr-primary-red);
                border: 0;
                color: var(--clr-neutral-white);
                font-weight: var(--font-weight-700);
                width: 100%;
                &:focus, &:hover, &:active{
                    background-color: transparent;
                    color: black;
                    border: 1px solid var(--clr-primary-red);
                    box-shadow: 3px 5px 0 var(--clr-primary-red);
                }
            }
        }
    }
}

//Admin panel
.admin{
    width: 90vw;

    & h1{
        font-size: clamp(var(--font-size-500), 7vw, var(--font-size-900));
        font-weight: var(--font-weight-700);
        padding-top: 1rem;
    }

    & h2{
        border-left: 4px solid var(--clr-primary-red);
        padding: .5rem .75rem;
        font-weight: var(--font-weight-600);
        text-transform: uppercase;
        margin-block: 1rem 2rem
    }

    &__tools{
        &--shortcut{
            @include flex(column, 1.5rem);
            & *{
                padding: .5rem 1rem;
                background-color: var(--clr-secondary-green);
                border: 0;
                color: var(--clr-neutral-white);
                font-weight: var(--font-weight-600);
                cursor: pointer;
            }

            & button{
                &:hover, &:focus, &:active{
                    color: var(--clr-secondary-green);
                    background-color: transparent;
                    border: 1px solid var(--clr-secondary-green);
                    box-shadow: 2px 3px 0 var(--clr-secondary-green);
                }
            }

            & a{
                text-decoration: none;
                text-align: center;
                &:hover, &:focus, &:active{
                    color: var(--clr-secondary-green);
                    background-color: transparent;
                    border: 1px solid var(--clr-secondary-green);
                    box-shadow: 2px 3px 0 var(--clr-secondary-green);
                }
            }
        }
    }

    &__cards{
        & h2{margin-block: 3rem 2rem}

        &--group{
            &-card{
                border: none;
                box-shadow: 0 0 3px rgba(0 0 0 / .3);
                margin-bottom: 2rem;
                padding: 1rem 3rem;
                &:hover, &:focus-within{
                    border: 1px solid var(--clr-accent-gray);
                    box-shadow: 3px 3px 0 black
                }

                & a{
                    text-decoration: none;
                    color: black;

                    & .contents{
                        @include flex(row, 3rem);
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media(min-width: 50em){
    .login{
        padding-block: 3rem;
        @include container(40%, 70vw , 80rem);
        & input{
            outline: 0;
            border: 0;
            background-color: transparent;
            &:hover, &:focus, &:active{
                box-shadow:none;
            }
        }

        &__content--form{
            padding: 2rem clamp(1rem, 8vw, 10rem);
            //Position error message to far right and reduce its width
            & .invalid-feedback{
                text-align: right;
                padding-inline: 1rem;
                align-self: center;
                width: 70%;
            }
            &-group{
                flex-direction: row;
                align-items: stretch;
                border: 2px solid var(--clr-accent-gray);
                &:focus-within{border: 3px solid var(--clr-accent-blue)}
                &:hover{box-shadow: 3px 3px 0 rgba(0 0 0 / .2);}
                & .icon{
                    display: block;
                    background-color: var(--clr-accent-gray);
                    padding:1rem 1.5rem;
                    justify-self: flex-start;

                }
            }
        }
    }

    .admin{
        @include container(60%, 80vw, 80rem);
        &__tools--shortcut{
            flex-direction: row;
            justify-content: center;
        }

        &__cards--group{
            @include grid(auto-fit, 300px, 1fr, 2rem)
        }
    }
}


